@charset "utf-8";
@import url(style-comon.css);

body {
  background: #000;
}

/* 画像表示エリア */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.exhibit {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exhibit > img {
  width: auto;
  max-width: 50vw;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

.container > .exhibit.movePrev {
  width: auto;
  height: auto;

  right: 90vw;
}

.container > .exhibit.moveNext {
  width: auto;
  height: auto;

  left: 90vw;
}

/* ボタン */
.button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  object-fit: contain;
  cursor: pointer;

  position: fixed;
  z-index: 500;
}

#buttonPrev {
  right: 80vw;
}

#buttonNext {
  left: 80vw;
}

@media screen and (max-width: 700px) {
  #buttonPrev {
    top: 10%;
    right: 50vw;
    transform: rotate(90deg);
  }

  #buttonNext {
    top: auto;
    bottom: 10%;
    left: 50vw;
    transform: rotate(90deg);
  }
}
