@charset "utf-8";
@import url(style-comon.css);

body {
  background: #000;
}

/* 画像表示エリア */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100svw;
  height: 100svh;
}

.container .exhibit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50svw;
  min-width: calc(40svw + 10svw);
  height: 100svh;
  margin: 0 2svw;
}

.container .exhibit > img {
  width: 95%;
  height: auto;
}

/* ボタン */
.button {
  width: 40px;
  height: auto;
}

.movePrev,
.moveNext {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  /* 画像 */
  .container {
    height: 100svh;

    flex-direction: column;
    align-items: center;
  }

  .container .exhibit {
    width: auto;
    max-width: none;
    height: 50svh;

    margin: 5svh 0;
  }

  .container .exhibit > img {
    width: autos;
    height: 90%;
  }

  /* PREV/NEXTボタン */
  .button {
    width: 30px;
    min-width: 0;
  }

  #buttonPrev,
  #buttonNext {
    transform: rotate(90deg);
  }

  /* 戻るボタン */

  .bottomButton {
    bottom: 120px;
  }

  .bottomButton > img {
    height: 20px;
  }
}
