@charset "utf-8";
@import url(style-comon.css);

body {
  background: #000;
}

/* 画像表示エリア */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container .exhibit {
  width: 50vw;
  height: auto;

  margin: 0 3vw;
}

.container .exhibit.blank {
  min-width: calc(40vw + 10vw);
  margin: 0;
}

/* ボタン */
.button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  object-fit: contain;
  cursor: pointer;

  position: fixed;
  z-index: 500;
}

#buttonPrev {
  right: 76.5vw;
}

#buttonNext {
  left: 76.5vw;
}

@media screen and (max-width: 700px) {
  /* 画像 */
  .container {
    height: 100svh;

    flex-direction: column;
    align-items: center;
  }

  .container .exhibit {
    width: auto;
    max-width: none;
    max-height: 35.5svh;

    margin: 5svh 0;
  }

  .container .exhibit.blank {
    min-height: calc(33.5svh + 10svh);
    margin: 0;
  }

  /* PREV/NEXTボタン */
  .button {
    width: 30px;
    min-width: 0;
  }

  #buttonPrev {
    top: 25svh;
    right: 50svw;
    transform: translateX(50%) rotate(90deg);
  }

  #buttonNext {
    top: auto;
    bottom: 25svh;
    left: 50svw;
    transform: translateX(-50%) rotate(90deg);
  }

  /* 戻るボタン */

  .bottomButton {
    bottom: 22.5svh;
    transform: translateY(-50%);
  }

  .bottomButton > img {
    height: 20px;
  }
}
